
@{
    ViewBag.Title = "FutureWeather";
}

<h2>FutureWeather</h2>
<h3>@ViewBag.NazwaMiasta</h3>
<p>@ViewBag.test</p>

<div>
    <p>@ViewBag.error</p>
    <h3>@ViewBag.Dzieńtygodnia</h3>
    <div>
        Wschód słońca 
        @ViewBag.futureWeatherSunrise &nbsp;Nie Działa
    </div>
    <div>
        Zachód słońca
        @ViewBag.futureWeatherSunset &nbsp;Nie Działa
    </div>
    <div>
        Temperatura rano
        @ViewBag.futureWeatherTempMorn &#x2103;
    </div>
    <div>
        Temperatura w ciągu dnia
        @ViewBag.futureWeatherTempDay &#x2103;
    </div>
    <div>
        Temperatura wieczorem
        @ViewBag.futureWeatherTempEve &#x2103;
    </div>
    <div>
        Temperatura w nocy
        @ViewBag.futureWeatherTempNight &#x2103;
    </div>
    <div>
        Najniższa temeratura w ciągu dnia
        @ViewBag.futureWeatherTempMin &#x2103;
    </div>
    <div>
        Najwyższa temperatura w ciągy dnia
        @ViewBag.futureWeatherTempMax &#x2103;
    </div>
    <div>
        Odczuwalna temperatura rano
        @ViewBag.futureWeatherFeelsLikeMorn &#x2103;
    </div>
    <div>
        Odczuwalna temperatura w ciagu dnia
        @ViewBag.futureWeatherFeelsLikeDay &#x2103;
    </div>
    <div>
        Odczuwalna temperatura wieczorem
        @ViewBag.futureWeatherFeelsLikeEve &#x2103;
    </div>
    <div>
        Odczuwalna temperatura w nocy
        @ViewBag.futureWeatherFeelsLikeNight &#x2103;
    </div>
    <div>
        Ciśnienie
        @ViewBag.futureWeatherPressure hPa
    </div>
    <div>
        Wilgotność
        @ViewBag.futureWeatherHumidity 
    </div>
    <div>
        Temperatura rosy
        @ViewBag.futureWeatherDewPoint &#x2103;
    </div>
    <div>
        Prędkość wiatru
        @ViewBag.futureWeatherWindSpeed m/s
    </div>
    <div>
        Poryw wiatru
        @ViewBag.futureWeatherWindGust
    </div>
    <div>
        Kierunek Wiatru
        @ViewBag.futureWeatherWindDeg
    </div>
    <div>
        Zachmurzenie
        @ViewBag.futureWeatherClouds %
    </div>
    <div>
        Uvi
        @ViewBag.futureWeatherUvi
    </div>
    <div>
        Widoczność
        @ViewBag.futureWeatherVisibility km
    </div>
    <div>
        Prawdopodobieństwo Opadów
        @ViewBag.futureWeatherPop %
    </div>
    <div>
        Wielkość opadów
        @ViewBag.futureWeatherRain mm
    </div>
    <div>
        Ilość Sniegu
        @ViewBag.futureWeatherSnow mm
    </div>







</div>